<!DOCTYPE html>
<html>
<head>

<title>Movie Tracker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h1>🎬 Movie Tracker</h1>

<p>เว็บบันทึกหนังของฉัน</p>

<a href="/movies" class="btn btn-primary">ดูรายการหนัง</a>
<a href="/about" class="btn btn-info">About</a>
<a href="/contact" class="btn btn-info">Contact</a>
<a href="/stats" class="btn btn-warning">Statistics</a>
<a href="/top" class="btn btn-warning">Top Movies</a>

</div>

</body>
</html>


